APP_NAME=IZUMI_SYSTEM
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_LOCALE=ja
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_TIMEZONE=Asia/Tokyo
# APP_MAINTENANCE_STORE=database

AUTH_GUARD="api"

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=izumi_smart_approval_test
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=file
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

#REDIS_CLIENT=phpredis
#REDIS_HOST=127.0.0.1
#REDIS_PASSWORD=null
#REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=izumidxinfo@gmail.com
MAIL_PASSWORD=lxgledefsxsniuwh
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=izumidxinfo@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1281963
PUSHER_APP_KEY=8e6382e943a00842452a
PUSHER_APP_SECRET=71ca5398224a02f7ad92
PUSHER_APP_CLUSTER=ap3

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

L5_SWAGGER_GENERATE_ALWAYS=true
SENTRY_LARAVEL_DSN=https://f38b80a858d54c0ba2c6fdd20829c80f@o409131.ingest.sentry.io/5755900
SENTRY_TRACES_SAMPLE_RATE=1

LARAVUE_USE_ESLINT=true
MIX_BASE_API=/api
MIX_APP_TITLE="Izumi Cloud"
MIX_LARAVEL_LANG="ja"
MIX_LARAVEL_PATH="${APP_URL}"
MIX_LARAVEL_TEST_URL="http://127.0.0.1:8000/"
DEBUGBAR_ENABLED=true
MIX_APP_ENV="${APP_ENV}"

JWT_SECRET=
JWT_TTL=60

LW_CLIENT_SECRET=
LW_CLIENT_ID=
LW_BOT_ID=
LW_SCOPE="bot user.profile.read user.read"
LW_CHANNEL_ID=
LW_SERVICE_ACCOUNT=
LW_PRIVATE_KEY_PATH=
LW_BOT_TRANSLATE_ID=
LW_CHANNEL_TRANSLATE_ID=

LOG3_AWS_SDK_VERSION
LOG3_AWS_DEFAULT_REGION
LOG3_AWS_S3_BUCKET
LOG3_AWS_ACCESS_KEY_ID
LOG3_AWS_SECRET_ACCESS_KEY
LOG3_AWS_ROLE_ARN
LOG3_AWS_ROLE_SESSION_NAME
LOG3_ASSUME_ROLE

LW_CLIENT_SECRET=
LW_CLIENT_ID=
LW_BOT_ID=
LW_SCOPE=
LW_CHANNEL_ID=
LW_SERVICE_ACCOUNT=

LW_BOT_MESSAGE=
LW_BOT_CHANNEL_MESSAGE=